<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Aires de Tinta</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width"/>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet"  href="../static/css/reset.css">
		<link rel="stylesheet" href="../static/css/fonts.css">
		<link rel="stylesheet"  href="../static/css/airesdetinta.css">
	</head>
<body>

	<header class="yo header">
		<div class="Contenedor-cabecera1 centrar">
			<h1 class="logo ">Aires de Tinta</h1>
			<nav class="MainMenu">
				<div id="menuA">  
        		<div href="#" class="showhim"><span class="menumov">MENÚ &#8803;</span>  
            		<div class="showme"> 
            		<ul class="MainMenu-list9"> 
		               	<li class="MainMenu-item9"><a class="MainMenu-link9" href="#inicio" title="">Inicio</a></li>  
		                <li class="MainMenu-item9"><a class="MainMenu-link9" href="#diseños" title="">Diseños</a></li>  
		                <li class="MainMenu-item9"><a class="MainMenu-link9" href="#trabajos" title="">Galería</a></li> 
		                <li class="MainMenu-item9"><a class="MainMenu-link9" href="#contacto" title="">Contacto</a></li> 
		            </ul>    
            		</div>  
        		</div>  
        		</div>  
        		  
						<ul class="MainMenu-list">
							<li class="MainMenu-item">
								<a class="MainMenu-link" href="#inicio">Inicio</a>
							</li>
							<li class="MainMenu-item">
								<a class="MainMenu-link" href="#diseños">Diseños</a>
							</li>
							<li class="MainMenu-item">
								<a class="MainMenu-link" href="#trabajos">Galería</a>
							</li>
							<li class="MainMenu-item">
								<a class="MainMenu-link n" href="#nosotros">Nosotros</a>
							</li>
							<li class="MainMenu-item">
								<a class="MainMenu-link t" href="#contacto">Tienda</a>
							</li>

							<li class="MainMenu-item">
								<a class="MainMenu-link" href="#contacto">Contacto</a>
							</li>			
						</ul>
			</nav>

		</div>
	</header>		
	<main>
		<div id="inicio" class="contenedor-cabecera">
			<div class="centrar">
				<h2 class="white grande"> BIENVENIDOS A AIRES DE TINTA </h2>
				<p class="white1 pequeña"> Loremipsum dolor sit amet,consectetur adipiscing elit.Sed nisi metus,tristique ndolor
				non, ornare sagittis dolor.Nulla vestibulu lacus...
				</p>
				<div class="MainMenu2">
					<ul class="MainMenu2-list2">
						<li class="MainMenu2-item2">
							<a class="MainMenu2-link2" href="#VERMAS">VER MÁS
							</a>
						</li>
						<li class="MainMenu2-item2">
							<a class="MainMenu2-link2" href="#VIDEOTOUR">VIDEO TOUR
							</a>
						</li>
			
					</ul>
				</div>
			</div>
		</div>
		<section id="nosotros" class="contenedor-principio centrar">
			<header>
				<h1 class="black grande"> NOSOTROS SOMOS MODESTOS</h1>
			</header>		
			<p class="black2 pequeña"> Loremipsum dolor sit amet,consectetur adipiscing elit.Sed nisi metus,tristique ndolor
			non, ornare sagittis dolor.Nulla vestibulu lacus sed molestie gravida. Crferm entum quismagna congue,vel sodales arcu vestibulum. Nunc lobortis dui magna, quis lacusullamcorper at. </p>

			<p class="black3 pequeña"> Phasellus sollicitudin ante eros ornare, sit amet luctus lorem semper. Suspendisse posuere, quamdictum consectetur, augue metus pharetra tellus, eu feugiatloreg egetnisi. Cras ornare bibendum ante, u bibendum cdio convallis eget. vel sodales arcu vestibulum
			</p>
		</section>
		<section id="diseños" class="contenedor-segundo centrar">
			<header>
				<h1 class="equipo grande">ENCUENTRA TU EQUIPO</h1>
			</header>			
			<div class="principal">
				<div class="contenedor-fotos">
					<ul class="work-list">
						<li class="Work-item">
							<figure class="Work-imageContainer">
								<a href="#"><img class="Work-image2" src="../static/images/foto2.jpg" alt="Es la descripcion de mi imagen" /></a>
							</figure>
							
						</li>

						<li class="Work-item">
							<figure class="Work-imageContainer">
								<a href="#"><img class="Work-image2" src="../static/images/foto2.jpg" alt="Es la descripcion de mi imagen"></a>
							</figure>
							
						</li>	

						<li class="Work-item">
							<figure class="Work-imageContainer">
								<a href="#"><img class="Work-image2" src="../static/images/foto2.jpg" alt="Es la descripcion de mi imagen" /></a>
							</figure>
				
						</li>

					</ul>
				</div>			
			
				</section>

				<section class="contenedor-trabajos">
					<div class="centrar">
						<header>
							<h1 id="trabajos" class="trabajos grande">MIS TRABAJOS</h1>
						</header>		
						<div class="mis-trabajos">
							<ul class="work-list">
								<li class="Work-item3">
									<figure class="Work-imageContainer3">
										<a href="#"><img class="Work-image3" src="../static/images/foto6.jpg" alt="Es la descripcion de mi imagen" /></a>
									</figure>
								</li>

								<li class="Work-item3">
									<figure class="Work-imageContainer3">
										<a href="#"><img class="Work-image3" src="../static/images/foto7.jpg" alt="Es la descripcion de mi imagen" /></a>
									</figure>
								</li>

								<li class="Work-item3">
									<figure class="Work-imageContainer3">
										<a href="#"><img class="Work-image3" src="../static/images/foto8.jpg" alt="Es la descripcion de mi imagen" /></a>
									</figure>
								</li>

								<li class="Work-item3">
									<figure class="Work-imageContainer3">
										<a href="#"><img class="Work-image3" src="../static/images/foto9.jpg" alt="Es la descripcion de mi imagen" /></a>
									</figure>
								</li>

								<li class="Work-item3">
									<figure class="Work-imageContainer3">
										<a href="#"><img class="Work-image3" src="../static/images/foto10.jpg" alt="Es la descripcion de mi imagen" /></a>
									</figure>
								</li>

								<li class="Work-item3">
									<figure class="Work-imageContainer3">
										<a href="#"><img class="Work-image3" src="../static/images/foto11.jpg" alt="Es la descripcion de mi imagen" /></a>
									</figure>
								</li>
								<li class="Work-item3">
									<figure class="Work-imageContainer3">
										<a href="#"><img class="Work-image3" src="../static/images/foto12.jpg" alt="Es la descripcion de mi imagen" /></a>
									</figure>
								</li>
								<li class="Work-item3">
									<figure class="Work-imageContainer3">
										<a href="#"><img class="Work-image3" src="../static/images/foto12.jpg" alt="Es la descripcion de mi imagen" /></a>
									</figure>
								</li>
								
							</ul>
						</div>

						<div class="seguir">
							<a class="seguir-viendo" href="#seguir-viendo"> SEGUIR VIENDO</a>			
						</div>
					</div>
				</section>
				<section class="wrapper-llegar">
					<header class="centrar">
						<h1 class="llegar grande">CÓMO LLEGAR</h1>
					</header>
					<div class="mapa">
						<iframe class="llegar-mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.7237448196543!2d-3.9720764841292686!3d40.68005547933545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4171725903aa3b%3A0x877a83d07b3327ce!2sAires+de+Tinta!5e0!3m2!1ses!2ses!4v1536142273243" width="1900" height="348" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</section>
				<section class="contacto centrar">
					<header>
						<h1 class="Footer-title grande">CONTACTA CON NOSOTROS</h1>
					</header>
					<div class="colocar-derecha">
						<p class="Footer-description pequeña">Si tienes una sugerencia o quieres tatuaje o diseño ponte en contacto con este formulario</p>
					
						<form class="footer-form" action="../contacto/envio.php" method="post">
							<input name="nombre" class="Footer-formInput" type="text" placeholder="Nombre"/>
							<input name="email" class="Footer-formInput" type="email" placeholder="Email"/>
							<textarea name="motivo" class="Footer-textarea"placeholder="Motivo"></textarea>
							<button class="Footer-buttom" type="submit">Contactarme</button>
						</form>	
					</div>	
				</section>
			</main>
			<footer id="contacto" class="footer">					
				<div class="pie centrar">
					<p class="pie-final pequeña">&copy;Copyright2018 by Aires de tinta. Todos los derechos reservados</p>
				</div>
			</footer>




		
	